.homepage{
    padding: 80px 0 50px 50px;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(49, 26, 47) 3%, rgb(30, 76, 125) 38%, rgb(8, 17, 17) 68%, rgb(225, 168, 168) 98%);
    animation: gradient 15s ease infinite;
    height: 100vh;
    width: 100%;
}

.first_task__title{
    font-size: 28px;
}

.first_task{
    height: 200px;
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;
    animation: fadeOut 1s,wavianimation 6s -1s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px;
    border-radius: 27% 38% 30% 48% / 38% 35% 61% 40% ;
    background-color: #d0d417;
}

.first_task__input{
    height: 30px;
    width: 100%;
    border-radius: 10px;
    border: solid #f4581a 2px;
    border-radius: 15% 10% 15% 6% / 47% 26% 68% 53%  ;
}

.first_task__input input{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border-radius: 15% 10% 15% 6% / 47% 26% 68% 53% ;
    background-color: #f5be30;
    color: black;
    font-weight: 600;
}

.first_task__input input::placeholder{
    color: black;
    opacity: 0.4;
}

.first_task__btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.first_task__btn button{
    height: 30px;
    border-radius: 30% 70% 67% 33% / 41% 55% 45% 59% ;
    width: 50px;
    outline: none;
    cursor: pointer;
    background-color: #f5be30;
    border: solid #f4581a 2px;
    font-weight: 600;
}

.btn_createnew{
    background: #7079f0;
  color: white;
  font-family: inherit;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  height: 2.8em;
  cursor: pointer;
  padding: 0 17px;
  margin-left: 45%;
}


.btn_createnew:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #5566c2;
  }

@keyframes fadeOut {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

@keyframes wavianimation {
    0% {
    border-radius: 27% 38% 30% 48% / 38% 35% 61% 40% ;
    }
    
    50% {
        border-radius: 40% 45% 40% 55% / 50% 50% 20% 75% ;
    }
    
    100% {
        border-radius: 27% 38% 30% 48% / 38% 35% 61% 40% ;
    }
}



